.character-content-container {
  padding: 2em;
  height: 100%;
}

.profile-row {
  height: auto;
  width: 100%;
  margin: 2em;
}

.profile-col {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-row {
  height: auto;
  width: 100%;
  margin: 2em;
}

.content-col {
  justify-content: center;
}

.profile-card {
  width: 240px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background: transparent;
}

.tab-pane {
  width: 100%;
}
