.sidebar {
  height: 70vh;
  background: white;
  padding: 2%;
}

.description {
  height: 70vh;
  background: white;
  overflow: scroll;
  padding: 2%;
}

.stars {
  color: #ff7875;
  margin-left: auto;
  margin-right: auto;
}
