.sideNav-menu {
  height: 100vh;
}

.logo {
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.sideNav {
  overflow: "auto";
  height: "100vh";
  position: "fixed";
  left: 0,
}