.sidebar {
  background: white;
  height: 70vh;
  overflow: scroll;
}

.assignment {
  height: 8vh;
  background: white;
  padding: 2%;
}

.text {
  height: 62vh;
  background: white;
  overflow: scroll;
}

.ant-list-item:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #ff7875;
}
