.map-slide-container {
  height: 80vh;
  width: 100%;
  background: url('https://drive.google.com/uc?export=view&id=1YLqoHJStUKp4Op2S1mGVHZZbWpgRoa1q');
  background-size: cover;
}

.navigate-button {
  height: 100%;
  width: 100%;
  border-color: #ff7875;
  color: #ff7875;
  background-color: #f0f2f5;
}

.main-slide-content {
  text-align: center;
}
