.avatar-card {
  width: 240px;
  margin: 2em;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 2px solid #dddddd;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2);
}

.avatar-card-selected {
  width: 240px;
  margin: 2em;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 2px solid rgba(81, 203, 238, 1);
  border-radius: 5px;
  background: white;
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2);
}

.choose-avatar-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.choose-avatar-col {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0 auto;
}
