.avatar-card {
  width: 240px;
  margin: 2em;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #dddddd;
  background-color: lightgrey;
}

.avatar-card-selected,
.avatar-card-selected:focus,
.avatar-card-selected:hover {
  width: 240px;
  margin: 2em;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  background-color: lightgrey;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.choose-avatar-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.choose-avatar-col {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: auto;
  margin: 0 auto;
}
