.SignIn-Container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.header {
  color: white;
}

.buttons {
  margin-top: 1em;
  margin-bottom: 1em;
}